
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 210 11% 7%; /* #121212 */
    --foreground: 0 0% 100%; /* #ffffff */

    --card: 0 0% 12%; /* #1f1f1f */
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 100%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0 0% 17%; /* #2c2c2c */
    --secondary-foreground: 0 0% 83%; /* #d4d4d4 */

    --muted: 0 0% 17%;
    --muted-foreground: 0 0% 83%;

    --accent: 0 0% 17%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 17%; /* #2c2c2c */
    --input: 0 0% 17%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 7%;
    --sidebar-foreground: 0 0% 83%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 17%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 17%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
  }
}
